* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    font-weight: 900;
    text-decoration: none;
    list-style: none;
}
.flex {
    display: flex;
}
body {
    background: #000;
}
/* html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
} */

.container {
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem .5rem;
    font-size: 100%;
    background: #000;
    overflow: hidden;

}
.login-register {
    position: relative;
    gap: 1rem;
    color: #fff;
}
.login-register p {
    display: none;
}
.burger {
    flex-direction: column;
    cursor: pointer;
}

.burger div {
    margin: 5px;
    width: 1.5rem;
    height: .2rem;
    background: #fff;
}
.burger-items {
    position: absolute;
    width: 200px;
    height: 250px;
    background: #000;
    top: 8em;
    right: 0;
    text-align: center;
    z-index: 100;
    transform: translateX(200px);
    transition: .5s linear;
}
#burger-items.active {
    transform: translateX(0);
}
.form-wrapper {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    padding: .5rem;
    background: #000;
    border: 1px solid #fff;
    border-radius: .5rem;
}
.before-form {
    justify-content: space-between;
    align-items: center;
}
.before-form p, a {
    margin: 10px 10px 0 10px;
    color: #fff;
    font-size: 70%;
}
hr {
    margin: 1rem;
}
.field-box {
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
}
.field-box label {
    font-size: 75%;
}
.inside-field {
    position: relative;
    flex-direction: column;
    font-size: 50%;
    gap: 0.2rem;
}
.field-box input {
    width: 200px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 0.3rem;
}
.field-error {
    color: red;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.done-icon, .error-icon {
    position: absolute;
    right: 0;
    display: none;
}
.strength {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.password-text {
    font-size: 50%;
}
.password-strength {
    width: 102px;
    height: 5px;
    border-radius: 1rem;
}
#check-terms {
    width: 20px;
    height: 15px;
}
.terms-text {
    font-size: 50%;
}
.terms-text a {
    color: #aca1a1;
}
.button-wrapper {
    gap: 1rem;
}
.button-wrapper button {
    padding: .5em 1em;
    border-radius: 1em;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
}
.button-wrapper button:hover {
    background: #fff;
    color: #000;
}
.inside-field {
    flex-direction: column;
    font-size: 50%;
    gap: 0.2rem;
}
.field-error {
    color: #ff0000;
}
.rights {
    margin: 2em;
    font-size: 70%;
    gap: 4rem;
    color: #fff;
}